apiVersion: v1
kind: Secret
metadata:
  name: stackit-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "service_account_email": "changeme",
      "service_account_token": "changeme"
    }
